:root {
    --grid-item-size: 40px;
    --grid-container-size: 650px;
    --grid-height-multiplier: 1.015625;
}

.options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.option-button{
    margin: 0 20px 0 20px;
}

.etch-container {
    display: flex;
    justify-content: center;
}

.grid-container {
    border: 5px solid red;
    height: var(--grid-container-size);
    width: var(--grid-container-size);
}

.grid-row-wrapper {
    display: flex;
}

.grid-item {
    border: 1px solid black;
    display: flex;
    flex: 1;
    height: calc(var(--grid-item-size)*var(--grid-height-multiplier));
    box-sizing: border-box;
}

.grid-item-black {
    background-color: black;
}